body{
    background-color: rgb(221, 198, 167);

}

header{
    margin: 10px 20px 20px 20px;
    padding: auto;
    display: inline;
    align-items: center;
   
    flex-direction: column;
}
/* div.container{
    background-image: url("https://media0.giphy.com/media/2gtoSIzdrSMFO/giphy.gif");
} */
.centre{
    display: flex;
  
    justify-content:center;
    padding: 0%;

}
.myScore{
   
    background-color:#e4e40f;
    border: 5px solid black;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 10px;
    width: 250px;
    height: 60px;
    font-size: 34px;
    font-weight: 600;
    color: white;
    text-shadow: 4px 4px 5px black;
    align-items: center ;
  
  
}
img{
    margin-top: 50px;
    height: 7%;
    width: 7%;
}
h1.title strong:nth-child(1){
    color: red;
    font-size: 170px;
    text-shadow: 2px 2px 5px white;
}
h1.title strong:nth-child(2){
    color:blueviolet;
    font-size: 140px;
    text-shadow: 2px 2px 5px white;
}
h1.title strong:nth-child(3){
    color:cornflowerblue;
    font-size: 170px;
    text-shadow: 2px 2px 5px white;
}
h1.title strong:nth-child(4){
    color: yellow;
    font-size: 140px;
    text-shadow: 2px 2px 5px white;
}

h2{
    font-size: 70px;
    color: white;
    text-shadow: 4px 4px 5px black;
    font-weight: 500;
    
    
   
}
p{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
footer{
    border-top: 2px solid black;
   margin-top: 80px;

}
.container{
    background-color:rgb(92, 69, 40);;
    border: 9px solid rgb(92, 69, 40);
    border-radius: 8px;
    display: inline-flex;
    position: relative;
   

    /* url("https://media0.giphy.com/media/2gtoSIzdrSMFO/giphy.gif"); */
    

}
.game-over{
    background-image: url("https://media0.giphy.com/media/2gtoSIzdrSMFO/giphy.gif");
    background-position: 100% ;
   
}
.grid_container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 10px;
    text-align: center;
  
    
   
}
#key{
    height: 40%;
    width: 17%;
}
.hidden {
    /* center the cell content */
   justify-content: center;
   align-items: center;
   display: flex;
   font-family: Arial;
   font-size: 60px;
   font-weight: bold;
   background: white;
   border-radius: 8px;
   

   
 }
 main{
    text-align: center;
    
 }
 h1{
    text-align: center;
    size: 30px;
}

